body {
	font-family: Arial;
	font-size: 14pt;
	background-color: #000000;
	color: #ffffff;
	text-align:center;


	background-image: url("../img/Lab/Lab.png");
	background-repeat: no-repeat;
	background-position: center top;
}


div {
	white-space: nowrap;
}


