body {
	font-family: Arial;
	font-size: 14pt;
	background-color: #000000;
	color: #ffffff;
}


div {
	white-space: nowrap;
}

#board .tileLayer {
}
#board .tileRow {
}

#board .tile {
	position: relative;
	display: inline-block;
	width: 100px;
	height: 100px;
	margin-bottom: -75px;
	cursor: auto;
	overflow:no-display;
	transition: top 250ms ease;
}


#board {
	position: relative;
	padding-top:64px;
	padding-left:32px;
	margin-bottom:100px;
}

.tile:hover {
	top: -8px;
	background-color: #00ff00;
}

.tileRow .t_greyF {
	background-image: url("../img/Tiles/Grey F.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_greyL {
	background-image: url("../img/Tiles/Grey L.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_greyLF {
	background-image: url("../img/Tiles/Grey LF.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_greyLRF {
	background-image: url("../img/Tiles/Grey LRF.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_greyR {
	background-image: url("../img/Tiles/Grey R.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_greyRF {
	background-image: url("../img/Tiles/Grey RF.png");
	background-repeat: no-repeat;
	background-size: contain;
}
.tileRow .t_blank {
}
